@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

html, body, [class*="css"] {
    font-family: 'Space Grotesk';
}

/* Adjust the block container background and borders */
div.block-container {
    background-color: black !important;
    border: none !important;
    color: white;
}

div.block-container.css-z5fcl4.egzxvld4 {
    width: 100%;
    min-width: auto;
    max-width: initial;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 15px;
    padding-bottom: 40px;
}

.bs_dashboard_title {
    font-size: 50px !important; 
    font-family: 'Space Grotesk';
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 35px;
    color: white;
}

.param_container {
    border: 2px solid #52546a !important; /* Border color */
    border-radius: 15px !important; /* Rounded corners */
    background-color: #1a1a1a !important; /* Dark gray background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5) !important; /* Subtle shadow */
    padding: 15px !important; /* Inner spacing */
    margin: 10px !important; /* Outer spacing between columns */
    text-align: center !important; /* Center text inside the container */
    color: white !important; /* Default text color for content inside */
}

.param_container p {
    margin: 0 !important; /* Remove default paragraph margins */
    padding: 5px 0 !important; /* Consistent padding for inner content */
}

.price_details {
    font-size: 30px; 
    font-family: 'Space Grotesk';
    color: #f6f6f6;
    font-weight: 900;
    text-align: left;
    line-height: 1;
    padding-bottom: 10px;
}

.current_price_text {
    font-size: 14px; 
    font-family: 'Space Grotesk';
    color: #f7931a;
    font-weight: bold;
    text-align: left;
    line-height: 0.2;
    padding-top: 10px;
}

.strike_price_text {
    font-size: 14px; 
    font-family: 'Space Grotesk';
    color: #a1a1a1;
    font-weight: bold;
    text-align: left;
    line-height: 0.2;
    padding-top: 10px;
}

.time_to_maturity_text {
    font-size: 14px; 
    font-family: 'Space Grotesk';
    color: #ff6b08;
    font-weight: bold;
    text-align: left;
    line-height: 0.2;
    padding-top: 10px;
}

.rf_rate_text {
    font-size: 14px; 
    font-family: 'Space Grotesk';
    color: #807af4;
    font-weight: bold;
    text-align: left;
    line-height: 0.2;
    padding-top: 10px;
}

.vol_text {
    font-size: 14px; 
    font-family: 'Space Grotesk';
    color: #01acf1;
    font-weight: bold;
    text-align: left;
    line-height: 0.2;
    padding-top: 10px;
}

.purchase_price_text {
    font-size: 14px; 
    font-family: 'Space Grotesk';
    color: #32CD32; /* Lime Green for differentiation */
    font-weight: bold;
    text-align: left;
    line-height: 0.2;
    padding-top: 10px;
}